{% extends 'layout/layout.html.twig' %}
{% block body %}
    <div class="content">
        <div class="wrap">
            <div id="main" role="main">
                <div class="row">
                    <div class="col-md-3">
                        <div class="thumbnail">
                            <img src="{{ asset('images/back.jpg') }}" alt="...">
                            <div class="caption">
                                <h3>Article 1</h3>
                                <p class="text-small">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum cumque dolores et impedit itaque vel voluptatem voluptates. Alias, consequatur dolor expedita ipsam magni, odio perferendis quasi quis repellat sed, vel!
                                </p>
                                <p>
                                    <a href="#" class="btn btn-primary btn-block" role="button">
                                        <i class="glyphicon glyphicon-eye-open"></i> Consulter Plus
                                    </a>
                                </p>
                                <p>
                                    Publié le : 23-09-2016
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail">
                            <img src="{{ asset('images/back.jpg') }}" alt="...">
                            <div class="caption">
                                <h3>Article 1</h3>
                                <p class="text-small">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum cumque dolores et impedit itaque vel voluptatem voluptates. Alias, consequatur dolor expedita ipsam magni, odio perferendis quasi quis repellat sed, vel!
                                </p>
                                <p>
                                    <a href="#" class="btn btn-primary btn-block" role="button">
                                        <i class="glyphicon glyphicon-eye-open"></i> Consulter Plus
                                    </a>
                                </p>
                                <p>
                                    Publié le : 23-09-2016
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail">
                            <img src="{{ asset('images/back.jpg') }}" alt="...">
                            <div class="caption">
                                <h3>Article 1</h3>
                                <p class="text-small">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum cumque dolores et impedit itaque vel voluptatem voluptates. Alias, consequatur dolor expedita ipsam magni, odio perferendis quasi quis repellat sed, vel!
                                </p>
                                <p>
                                    <a href="#" class="btn btn-primary btn-block" role="button">
                                        <i class="glyphicon glyphicon-eye-open"></i> Consulter Plus
                                    </a>
                                </p>
                                <h6><i>Publié le : 23-09-2016</i></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail">
                            <img src="{{ asset('images/back.jpg') }}" alt="...">
                            <div class="caption">
                                <h3>Article 1</h3>
                                <p class="text-small">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum cumque dolores et impedit itaque vel voluptatem voluptates. Alias, consequatur dolor expedita ipsam magni, odio perferendis quasi quis repellat sed, vel!
                                </p>
                                <p>
                                    <a href="#" class="btn btn-primary btn-block" role="button">
                                        <i class="glyphicon glyphicon-eye-open"></i> Consulter Plus
                                    </a>
                                </p>
                                <p>
                                    Publié le : 23-09-2016
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}