{% extends 'layout/layout.html.twig' %}
{% block body %}
    <div class="content" ng-controller="articleController">
        <div class="wrap">
            <div id="main" role="main">
                <div class="row">

                    <div class="col-md-3" ng-repeat="article in articles | filter:{titreArticle:recherche}" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
                        <div class="thumbnail">
                            <img ng-src="# article.imageArticle #" alt="..." style="height: 200px;">
                            <div class="caption">
                                <h3 class="text-center"> # article.titreArticle # </h3>
                                <p class="text-center">
                                    # article.descriptionArticle #
                                </p>
                                <p>
                                    <a href="{{ app.request.getBaseURL() }}/article/details/#article.id#" class="btn btn-sm btn-primary btn-block" role="button">
                                        <i class="glyphicon glyphicon-eye-open"></i> Lire l'article
                                    </a>
                                </p>
                                <h6><i>Publié le : # article.dateArticle #</i></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('angularJs/Controllers/articleController.js') }}"></script>
{% endblock %}